:root {
  --vp-c-brand-1: #0039A6;
  --vp-c-brand-2: #0047BB;
  --vp-c-brand-3: #0039A6;
  --vp-c-brand-soft: rgba(0, 57, 166, 0.14);
}

.dark {
  --vp-c-brand-1: #4D8FD6;
  --vp-c-brand-2: #6BA3E0;
  --vp-c-brand-3: #4D8FD6;
  --vp-c-brand-soft: rgba(77, 143, 214, 0.14);
}

.VPHero .VPImage {
  max-width: 560px;
}
